################################################################################
# Mac OS X / iOS

# NB: if you are storing "built" products, this WILL NOT WORK,
#   and you should use a different .gitignore (or none at all)
# This file is for SOURCE projects, where there are many extra
#   files that we want to exclude
#
# For updates, see: http://stackoverflow.com/questions/49478/git-ignore-file-for-xcode-projects

#####
# OS X temporary files that should never be committed

.DS_Store
*.swp
*.lock
profile
Doxygen/

####
# Xcode temporary files that should never be committed
# 
# NB: NIB/XIB files still exist even on Storyboard projects, so we want this...

*~.nib


####
# Xcode build files -
#
# NB: slash on the end, so we only remove the FOLDER, not any files that were badly named "DerivedData"

DerivedData/

# NB: slash on the end, so we only remove the FOLDER, not any files that were badly named "build"

build/


#####
# Xcode private settings (window sizes, bookmarks, breakpoints, custom executables, smart groups)
#
# This is complicated:
#
# SOMETIMES you need to put this file in version control.
# Apple designed it poorly - if you use "custom executables", they are
#  saved in this file.
# 99% of projects do NOT use those, so they do NOT want to version control this file.
#  ..but if you're in the 1%, comment out the line "*.pbxuser"

*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
#    NB: also, whitelist the default ones, some projects need to use these
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3


####
# Xcode 4 - semi-personal settings, often included in workspaces
#
# You can safely ignore the xcuserdata files - but do NOT ignore the files next to them
#
# Stack Overflow user Samson:
# "Ok, I just noticed a problem with this. I was doing some git acrobatics, and when
# I checkout out back to master and applied my stashed changes, I had lost my saved
# build schemes! fortunately, I had backed them up, just in case... but the solution
# is to ignore a little more specifically inside the xcuserdata directory. I changed
# xcuserdata to xcdebugger and UserInterfaceState.xcuserstate, which are really the
# offensive ones to commit"
#

xcuserdata
xcdebugger
UserInterfaceState.xcuserstate

####
# XCode 4 workspaces - more detailed
#
# Workspaces are important! They are a core feature of Xcode - don't exclude them :)
#
# Workspace layout is quite spammy. For reference:
#
# (root)/
#   (project-name).xcodeproj/
#     project.pbxproj
#     project.xcworkspace/
#       contents.xcworkspacedata
#       xcuserdata/
#         (your name)/xcuserdatad/
#     xcuserdata/
#       (your name)/xcuserdatad/
#
#
#
# Xcode 4 workspaces - SHARED
#
# This is UNDOCUMENTED (google: "developer.apple.com xcshareddata" - 0 results
# But if you're going to kill personal workspaces, at least keep the shared ones...
#
#
!xcshareddata

####
# XCode 4 build-schemes
#
# PRIVATE ones are stored inside xcuserdata
!xcschemes

####
# Xcode 4 - Deprecated classes
#
# Allegedly, if you manually "deprecate" your classes, they get moved here.
#
# We're using source-control, so this is a "feature" that we do not want!

*.moved-aside


################################################################################
# Android

Platform/Android/.settings/org.eclipse.cdt.core.prefs
Platform/Android/local.properties

# Eclipse project files
.classpath
.project

# IDEA project files
# https://intellij-support.jetbrains.com/entries/23393067
# Directory based project format (.idea directory)
# This format is used by all the recent IDE versions by default. Here is what you need to share:
# All the files under .idea directory in the project root except the workspace.xml and tasks.xml files which store user specific settings
# All the .iml module files that can be located in different module directories (applies to IntelliJ IDEA)
# Be careful about sharing the following:
# Android artifacts that produce a signed build (will contain keystore passwords) dataSources.ids, datasources.xml
# (can contain database passwords)
# You may consider not to share the following:
# gradle.xml file, see this discussion user dictionaries folder (to avoid conflicts if other developer has the same name)
# XML files under .idea/libraries in case they are generated from Gradle project
*.eml
*.iml
.idea
.idea/workspace.xml
.idea/tasks.xml
.idea/vcs.xml
.idea/libraries
.idea/misc.xml


################################################################################
# Windows

Thumbs.db

################################################################################
# Chrome ppapi

Platform/chrome-ppapi/out
Platform/chrome-ppapi/vendor
Platform/chrome-ppapi/include
Platform/chrome-ppapi/preview/node_modules
Platform/chrome-ppapi/*.pyc
